* {
    font-family: "Lato", sans-serif;
}

header {
    height: 10vh;
    background-color: #569688;
}

body {
    background-color: lightgray;
}

/*Contacts*/
#contacts {
    height: 80vh;
    background-color: white;
}


/*Messages*/

#messages {
    height: 80vh;
    background-image: url('img/mine.png');
}